*{
    box-sizing: border-box;
}
body{
    background-color: rgb(141, 141, 141);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    /* text-align: center; */
}
/* header Section */
header{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    /* box-shadow: 0 0 3px black */
    
}
header li{
    display: inline;
    padding-right: 45px;
}

header li a{
    color: rgb(229, 184, 184);
    text-decoration:none;
    padding: 13px;
    font-size: 20px;
}

header li a:hover{
    color: red;
    transition: .3s ease;
    
}

header ul #contact a{
    background-color: rgb(17, 17, 231);
    border-radius: 30px;
    float: right;
    position: relative;
    bottom: 15px;
    transition: .3s ease;
}

header ul #contact a:hover{
    background-color: goldenrod;
    color: red;
}

header li img{
    width: 130px;
    float: left;
    position: relative;
    bottom: 26px;
}

.active{
    color: rgb(255, 0, 0);
}

/* end of header section */

/* home section */

div.homecontainer{
    /* background-color:rgb(60, 58, 58) ; */
    height: 400px;
}
 h1{
    font-size: 50px;
    
}
nav{
    float: left;
    width: 50%;
    height: 300px;
    color: rgb(7, 7, 7);
    padding: 5px;
    position: relative;
    right: 180px;
    font-size: 20px;
    bottom: 5px;

    
}
article{
    float: right;
    width: 50%;
    height: 300px;
    position: relative;
    bottom: 300px;
    padding: 3px;
    right: 0;
}
span{
    color: red;
    
}
/* end of home section */

/* About section */
h2{
    color: rgb(3, 3, 3);
}
/* end of About section */

/* Registraion section */
.registraioncontainer{

}
form{
    border:2px solid black;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 300px;
    left: 100px;
    margin-right: 40%;
    height: 900px;
    background-color: rgb(232, 231, 226);
}

textarea:hover{
    background-color: rgb(220, 233, 102);
    cursor: pointer;
}
input[type="button"]{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    
    font-size: 40px;
    

}
input[type="button"]:hover{
   color: red;
   background-color: rgb(45, 41, 39);
    

}

/* end of Registraion section */

/* gallery section */
#gallery{
    position: relative;
    top: 400px;
}
            .gallery-container{
                display: flex;
                background: rgb(116, 113, 113);
                /* width: 108%; */
                margin-right: 10px;
            }
            div.gallery{
                margin: 6px;
                border: 3px solid rgb(230, 221, 221);
                padding: 5px;
                width: 300px;
                
            }
            div.desc{
                padding: 100px;
            }
            div.gallery:hover{
                border: 3px solid rgb(37, 32, 32);
                background-color: rgb(222, 25, 65);
            }
            div.button:hover{
                border: 2px solid rgb(7, 7, 7);
                width: 56px;
               
            }
            /* <!-- end of gallery section --> */
